<template name="userDashBoard">

<h1>Welcome {{name}}</h1>
	<div class = "col-md-12">

	<div class = "col-md-6">
<h3>Stories you have started:</h3>

	{{#each story}}
		<p>{{> thisStories}}</p><br>
	{{/each}}
	</div>
			<div class = "col-md-6">
			<h3> Contributed to:</h3>
			
			{{#each contributed}}
				<p>{{> thisStories}}</p><br>
			{{/each}}
			</div>
</div>
</template>


<template name="thisStories">


		<div class = "col-md-6">
		<a href="{{pathFor 'onestoryView'}}">{{title}}</a> 
		</div>




	

</template>