<template name="onestoryView">
<div>
		<h2 id="header" value = "{{title}}">Title: {{title}}
		<i class="fa fa-thumbs-down down"></i>
		<i class="fa fa-comment-o comment"></i>
		<i class="fa fa-thumbs-o-up up"></i>
		</h2>
</div>


<h4 >Story lines:</h4>
<h1 style="display:none;">{{id}}</h1>
<div class = "">
	{{#each storyLines}}
	<div class=" col-md-12  storylinebox">
		{{> alllines}}
	</div>
		
	{{/each}}
</div>
<br><br><br>
{{#if currentUser}}<br>
<h5>Next Story line:</h5>
<input id="story_line" type="textarea" placeholder="Story Line" /><br>
<input id="media" type="file" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" >
<br>
	<img id="img_display" src="#" alt = ""/><br>
	Add visiual to the story<br>
	<button class="submitStory">Submit</button>
	{{/if}}


<script type="text/javascript">
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_display')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
</template>

<template name="alllines">
<div id = "line" value = "text" >
<div class = "col-md-1 edit-button">
	{{#if bool}}
	
		<img class="icon" src="/images/edit.png" style="width:20px; height:20px;">
		
		{{/if}}</div>
		<div class = "col-md-6">
		 {{text}}
		 </div>
		 <div class = "col-md-4">
		{{#if media_file_id}}
		
		
		 <a href="{{media_file_id.url}}" target="_blank"><img src="{{media_file_id.url}}" alt="" class="thumbnail" style="width:150px;height:200px;"/></a>
		 
		<!-- for later implementation-->
		{{#if media_file_id.isImage}}
		{{/if}}

		{{#if isAudio}}
		{{/if}}

		{{#if isVideo}}
		{{/if}}


		{{/if}}</div>

<div class = "col-md-1 delete">

		{{#if bool}}
		
		 <img class="icon" src="/images/delete.png" style="width:20px; height:20px;"> 
		
		{{/if}} </div>

	
</div>
</template>

<template name="imageView">
  <div class="imageView">
    {{#each images}}
      <div>
        <a href="{{this.url}}" target="_blank"><img src="{{this.url store='thumbs' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="thumbnail" /></a>
      </div>
    {{/each}}
  </div>
</template>