<template name="onestoryView">
<h2 id="header" value = "{{title}}">{{title}}</h2>
<h1 style="display:none">{{id}}</h1>

<p>
	{{#each storyLines}}
		{{> alllines}}
	{{/each}}
</p>
Next Story line:<input id="story_line" type="textarea" placeholder="Story Line" /><br>
<input id="media" type="file" onchange="readURL(this);" /><br>
	<img id="img_display" src="#" alt = ""/><br>
	Add visiual to the story<br>
	<button class="submitStory">Submit</button>


<script type="text/javascript">
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img_display')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
</template>

<template name="alllines">
<div id = "line" value = "text" >

	<tr >
		<td class="edit-button"><img class="icon" src="/images/edit.png" style="width:20px; height:20px;"></td>
		<td> {{text}}</td>
		<td class="delete"> <img class="icon" src="/images/delete.png" style="width:20px; height:20px;"> </td>
	</tr>
	
</div>
</template>