<template name="viewStories">
{{> category_based}}
<div class = "col-md-12">
	<h1>All stories so far</h1>
			{{#each stories}}
			<div class = "col-md-12 storybox">
			{{> allStories}}
			</div>
			
			{{/each}}
</div>

</template>

<template name="category_based">
{{#each categories}}
		{{category}}
{{/each}}
</template>


<template name="allStories">


	<div class = "col-md-1 edit-button">
	{{#if bool}}
	
		<img class="icon" src="/images/edit.png" style="width:20px; height:20px;">
		
		{{/if}}</div>
		

		<div class = "col-md-5">
		<a href="{{pathFor 'onestoryView'}}">{{title}}</a> <br>
		-by {{thisname}}
		
		</div>
		



<div class = "col-md-3 ">

		{{#if currentUser}}
		<i class="fa fa-thumbs-down down"></i>
		<i class="fa fa-comment-o comment"></i>
		<i class="fa fa-thumbs-o-up up"></i>

		<p>Likes: {{count}}  </p>
		<i class="fa fa-twitter sendtweet"></i>

		Share
		{{/if}}
		{{#if bool}}
		 <img class="icon delete" src="/images/delete.png" style="width:20px; height:20px;"> 
		{{/if}}
</div>

<div class = "col-md-3">
Comments:: <br>
			{{#each comments}}
		{{> commentline}}<br>
		{{/each}}
			</div>

</template>





	

<template name= "commentline" >
{{comment}} - by {{thisname}}

</template>