<template name="viewStories">
{{> category_based}}

<h1>All stories so far</h1>
{{#each stories}}
{{> allStories}}
{{/each}}

</template>

<template name="category_based">
{{#each categories}}
		{{category}}
{{/each}}
</template>


<template name="allStories">
<div >

	<tr >
	{{#if bool}}
		<td class="edit-button"><img class="icon" src="/images/edit.png" style="width:20px; height:20px;"></td>
		{{/if}}

		<td> <a href="{{pathFor 'onestoryView'}}">{{title}}</a> </td>
{{#if bool}}
		<td class="delete"> <img class="icon" src="/images/delete.png" style="width:20px; height:20px;"> </td>
		{{/if}}
	</tr>
	
</div>
</template>

