<template name="viewStories">
{{> category_based}}
<div class = "col-md-12">
	<h1>All stories so far</h1>
			{{#each stories}}
			<div class = "col-md-6 storybox">
			{{> allStories}}
			</div>
			<div class = "col-md-6">
			Comments
			</div>
			{{/each}}
</div>

</template>

<template name="category_based">
{{#each categories}}
		{{category}}
{{/each}}
</template>


<template name="allStories">


	<div class = "col-md-1 edit-button">
	{{#if bool}}
	
		<img class="icon" src="/images/edit.png" style="width:20px; height:20px;">
		
		{{/if}}</div>
		

		<div class = "col-md-6">
		<a href="{{pathFor 'onestoryView'}}">{{title}}</a> 
		
		</div>
		



<div class = "col-md-1 ">

{{#if bool}}
		<div class="comment"><i class="fa fa-thumbs-down"></i></div>
		<div class="up"> <i class="fa fa-comment-o"></i></div>
		<div class="down"><i class="fa fa-thumbs-o-up"></i></div>
		{{#each comments}}
		{{comment}}
		{{/each}}

		<div class = "delete">
		 <img class="icon" src="/images/delete.png" style="width:20px; height:20px;"> 
		</div>
		{{/if}}</div>

	

</template>

