<template name="mainLayout">
<nav class="main-nav ">
<ul>


		{{#if currentUser}}
		<li><a href="#" id = "logout" >signout</a></li>
		{{else}}
		<li><a href="{{pathFor 'register'}}"
		class="{{isActiveRoute regex='register'}}">register</a></li>
		<li><a href="{{pathFor 'login'}}"
		class="{{isActiveRoute regex='login'}}">login</a></li>

		{{/if}}
	<li><a href="{{pathFor 'viewStories'}}"
		class="{{isActiveRoute regex='viewStories'}}">View Stories</a>
	</li>
	{{#if currentUser}}
	<li><a href="{{pathFor 'startStory'}}"
		class="{{isActiveRoute regex='startStory'}}">Start Story</a>
	</li>
	{{/if}}
	<li><a href="{{pathFor 'home'}}"
		class="{{isActiveRoute regex='home'}}">home</a></li>
		
		
	
</ul>


</nav>
{{> yield}}
</template>